{% macro contactForm (name="contact") %}
	<form class="contact" name="{{ name }}" netlify data-netlify-recaptcha="true">
		<label for="name">Name:</label>
		<input name="name" type="text" placeholder="Your name here"/>

		<label for="email">Email address:</label>
		<input name="email" type="email" placeholder="So that I can get back to you"/>

		<label>Message</label>
		<textarea name="message" placeholder="Tell me about what you need help with."></textarea>

		<div data-netlify-recaptcha="true"></div>

		<button type="submit">Send</button>
	</form>
{% endmacro %}

{% extends "base.njk" %}

{% block head %}
    <style>
      section { max-width: 40rem; padding: 3rem; margin: 0 auto; background: white;}
      body > main { padding: 3em; }
			form.contact textarea { min-height: 20vh; }
    </style>
{% endblock %}

{% block main %}
  <section>
    <h1>Contact</h1>
    <p>Let's talk about your company's web needs, review the design of your existing website, or plan a custom solution.</p>
		{{ contactForm() | safe }}
  </section>
{% endblock %}
