---
title: Contact
stylesheet: /contact.css
metaDescription: >
  Let's talk about your company's web needs,
  review the design of your existing
  website, or plan a custom solution.
---

{% extends "base.njk" %}

{% block head %}
    <style>
      section { max-width: 50ch; margin: 0 auto; }
      body > main { padding: 3em; }
    </style>
{% endblock %}

{% block main %}
  <section>
    <h1>Contact</h1>
    <p>Let's talk about your company's web needs, review the design of your existing website, or plan a custom solution.</p>
    <form>
    </form>
  </section>
{% endblock %}
